* {
    box-sizing: border-box;
  }
.main
    {
        background-color: aqua;
        height: 150%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.inner
    {
        margin: auto;
        margin: 100px 0px;
        padding: 50px 100px;
        border: 3px solid;
    }
    .Login-input{
        margin-top: 15px;
    }
    .Login-btn{
        margin-top: 20px;
    }