@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
/* @import url('https://fonts.googleapis.com/css?family=Literata:400,400i,500,500i,600,600i,700,700i&display=swap');
 */

/* @import url('https://fonts.googleapis.com/css?family=Neuton:200,300,400,400i,700,800&display=swap');
 */

body {
	font-size: 1.3em;
	font-weight: 900;
	min-height: 100vh;
	color: #000000;
	background-color: #ffffffea;
	/* background-image: url("./assets/BackGround4.jpg");
	image-rendering: optimizeQuality; */
	/* background: linear-gradient(350deg, rgba(137,39,142,1) 0%, rgba(4,14,80,1) 42%, rgba(8,175,173,1) 85%); */
	/* background: radial-gradient(circle, rgba(4, 14, 80, 1) 5%, rgba(137, 39, 142, 1) 68%, rgba(8, 175, 173, 1) 100%); */
}

a {
	text-decoration: none;
}

.content {
	width: 78%;
	margin: 0px auto;
	padding: 100px;
}

@media only screen and (max-width: 800px) {
	.content {
		width: 100%;
		padding: 10px;
	}
}

.masthead {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ddd;
	min-height: 40vh;
	color: #222;
}

@media only screen and (max-width: 800px) {
	.masthead h1 {
		font-size: 1.4em;
	}
}